<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBBookings" connectionString="Data Source=(local)\SQLEXPRESS; Initial Catalog=DBBookings; Integrated Security=True; Pooling=False"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>